h1{
	font-size: 90px;
	margin: auto;
	text-align: center;
	color: green;
	background-color: yellow;
}
a{
	font-size: 50px;
	text-align: center;
	background-color: yellow;
}
a:hover{
	color: green;
}
img{
	height: 990px;
	width: 2000px;
}